<style>
    #ContentContainer.container {
        position: relative;
        width: 50%;
        height: 50%;
        min-height: 300px;
        min-width: 500px;
        align-content: center;
        display: block;
        margin: 0 auto;
        border-radius: 5px;
        padding: 5px;
        box-sizing: border-box;
    }
</style>

<div id="ContentContainer" class="container">
    <div class="row">
        <div class="col align-self-center">
            <div id="cardcontent" class="card" style="width: 30rem">
                <img src="/images/DevonRismay.jpg" class="card-img-top" alt="Card Picture" />
                <div class="card-body">
                    <h5 id="headertext" align="center"> Welcome To Devon's Skills Showcase.</h5>
                    <hr />
                    <p id="paragraphtext" align="center">"Hey! My name is Devon Rismay and I've been a Software Developer for a year! I'm currently working as a Jr Software Developer at Energy Ogre and current San Jacinto College CS Student, but will finish my Computer Science Degree at University of Houston."</p>
                </div>
            </div>
        </div>
    </div>
</div>